
#Trackonomy - dev - Environment Global Variables"
#---------------------------------------------------------"

export RANDOM_NUMBER=74
export UNIQUE=dev
export COMMON_VAULT="trkmtdevopsdev74kv"
export ARM_TENANT_ID="a92ebf37-cae1-460d-8a16-ce7d28d0ff9c"
export ARM_SUBSCRIPTION_ID="104071bb-01cf-4b73-8572-26ad07041e99"
export ARM_CLIENT_ID="d06a9039-5f2f-41c3-82bf-31c9210ffd34"
export ARM_CLIENT_SECRET="5DL8Q~_xQVsyufKe1mGf0tvSuHzy09eaLv0HtcfT"
export ARM_ACCESS_KEY="cZtBJsmIXfjcf1QypSBvXDf80D+eczbY5tFkoLIDKU85jCmRTfoV/42MCqd/9XuVqs0i7NEEWhlT+AStDkTK+A=="

export TF_VAR_remote_state_account="trkmtdevopsdev74sa"
export TF_VAR_remote_state_container="remote-state-container"

export TF_VAR_resource_group_location="eastus2"
export TF_VAR_cosmosdb_replica_location="centralus"

export TF_VAR_central_resources_workspace_name="cr-dev"
export TF_VAR_service_resources_workspace_name="sr-dev"
export TF_VAR_data_resources_workspace_name="dr-dev"
export TF_VAR_aditional_resources_workspace_name="ar-dev"
export TF_VAR_monitoring_resources_workspace_name="mr-dev"

export TF_VAR_principal_appId="14d65fde-ab45-47ea-80b2-7cba21fd3bbb"
export TF_VAR_principal_name="trk-ign-devops-dev-principal"
export TF_VAR_principal_password="cg28Q~AZx6z6pxkkCrJiCRab_IKPjo5B9hrNBcHD"
export TF_VAR_principal_objectId="09153edc-cd32-4eda-b6b4-c8024c16efc1"

export TF_VAR_application_clientid="68a169ed-ac96-48cc-8798-881e5f70f897"
export TF_VAR_application_secret="i488Q~RbPFzKFdtZS2MdTd.Sc3X7R9cCUYEZGajK"

export TF_VAR_ssh_public_key_file=~/.ssh/trk_dev/trk-ign-dev-node-sshkey.pub
export TF_VAR_gitops_ssh_key_file=~/.ssh/trk_dev/trk-ign-dev-node-sshkey
export TF_VAR_gitops_ssh_url="git@github.com:Trackonomy/infra-azure-provisioning.git"
export TF_VAR_gitops_branch="dev"

# https://cloud.elastic.co
# ------------------------------------------------------------------------------------------------------
